APP_NAME="App Name"
APP_ENV=local
APP_KEY=base64:sVWEIewQlNPWFivoZM86X236z+J8ok4ZAIWdwIkGb20=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db-name
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=smtp
MAIL_MAILER=log
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=abc@gmail.com
MAIL_PASSWORD=xyz
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=abc@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

PUSHER_APP_CLUSTER=mt1
MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
MIX_CONTENT_DIRECTION="ltr"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URL=

BTREE_ENVIRONMENT=
BTREE_MERCHANT_ID=
BTREE_PUBLIC_KEY=
BTREE_PRIVATE_KEY=
BTREE_SANDBOX_ClIENT_TOKEN=

INSTAGRAM_LINK=
FACEBOOK_LINK=

MAILCHIMP_APIKEY=
MAILCHIMP_LIST_ID=

TWILIO_SID=
TWILIO_TOKEN=
TWILIO_FROM_NUMBER=""
